.row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    align-items: center;
}

.alignCenter {
    text-align: center;
}

.marginDiv {
    margin: 10px;
}

.alignCenterItem {
    align-items: center;
}


.pokemon-card--sprite {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.column {
    flex: 50%;
    padding: 0 4px;
    align-items: center;
}

.cardDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
margin: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

