.pokemon-card {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    width: 270px;
}

.pokemon-card--header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.pokemon-card--sprite {
    width: 256px;
    height: 256px;
    border: solid #EBEBEB 5px;
    border-radius: 15px;
}